/* NAVBAR */

.nav-items {
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    color: antiquewhite;
}

.navigation {
    width: 100%;
    background-color: #373738;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 21%;
    height: auto;
    padding: 1%;
    text-align: center;
}

nav {
    width: 65%;
    padding: 1%;
}

ul {
    width: 25%;
    margin-left: auto;
}

.nav-img {
    max-height: 50px;
}

.about-img {
    height: 50vh;
}


/* HEROIMG */

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}


/* FOOTER */

footer {
    background-color: #373738;
    padding: 25px;
}

ul.footer {
    display: inline-block;
    vertical-align: top;
    padding: 25px;
}


/* Other */

body {
    background-color: antiquewhite;
}

h1 {
    font-family: 'Martel', serif;
    font-size: large;
    font-weight: 300;
}